<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
           <button type="button"
                   class="navbar-toggle"
                   data-toggle="collapse"
                   data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>

           {{#link-to "mystory"}}
              <a class="navbar-brand">
                <span class="glyphicon glyphicon-record"></span>
                Reflection
              </a>
          {{/link-to}}
        </div>

        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1"
             navbar-selection-main ng-cloak>

          <ul class="nav navbar-nav">

            {{#link-to "mystory"
              tagName =   "li"
              href    =   false}}
              <a {{bind-attr href="#mystory"}}>
                <span class="glyphicon glyphicon-user"></span>
                My Story
              </a>
            {{/link-to}}

            {{#link-to "research"
              tagName =   "li"
              href    =   false}}
              <a {{bind-attr href="#research"}}>
                <span class="glyphicon glyphicon-eye-open"></span>
                Research Interests
              </a>
            {{/link-to}}
            
            {{#link-to "projects"
              tagName =   "li"
              href    =   false}}
              <a {{bind-attr href="#projects"}}>
                <span class="glyphicon glyphicon-bookmark"></span>
                Projects
              </a>
            {{/link-to}}

          </ul>
          
          <ul class="nav navbar-nav navbar-right">
			{{#link-to ""
              tagName =   "li"
              href    =   false}}
              <a {{action 'showmodal'}}>
                <span class="glyphicon glyphicon-info-sign"></span>
                About
              </a>
            {{/link-to}}

            {{#bs-modal 
            	name="aboutModal"
            	fade=true
            	footerButtonsBinding="aboutModalButtons"
            	title="About"}}

				<div class="row">
					<div class="col-sm-5 col-md-5">
						<div class="thumbnail">
							<div align=center>
								<strong>Technology Stack</strong>
							</div>
							<img src="/Reflection/assets/images/reflection_technologies.svg"
							     alt="Reflection Technologies">
				    	</div>
					</div>

					<div class="col-sm-7 col-md-7">
				    	<div class="thumbnail">
					      	<h1>Reflection App</h1>
							<p>
								This wep-app is a slide show concering one's life journey and interests. This Single-Page Application (SPA) is designed and developed by <a href="http://knshetty.weebly.com/">Nirdharsh</a>.

								<br>
								<br>
								<strong>Version</strong>

								<br>
								&nbsp; 0.1

								<br>
								<br>
								<strong>License</strong>

								<br>
								&nbsp; &nbsp;3-clause New BSD License.

								<br>
								<br>
								<strong>Copyright</strong>

								<br>
								&nbsp; &nbsp;&copy; 2015 Nirdharsh Shetty
							</p>
				    	</div>
					</div>
				</div>
		    {{/bs-modal}}

		  </ul>

        </div>

      </nav>
    </div>
  </div>

  {{outlet}}

</div>
